/*csslint box-model: false, box-sizing: false, font-sizes: false,
  qualified-headings: false, universal-selector: false, unique-headings: false*/

/* LAYOUT STYLES */

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #565656;
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, serif;
}

h1,
h2,
a.button {
    font-family: "Architects Daughter";
    -webkit-font-smoothing: antialiased;
}

a:link {
    color: #0354ab;
    text-decoration: none;
}

a:hover {
    color: #0354ab;
    text-decoration: underline;
    text-shadow: 1px 0 #0354ab;
}

a:visited {
    color: #c71585; /*MediumVioletRed*/
}

header {
    background: #2e7bcf url("../img/header-bg.jpg") 0 0 repeat-x;
    border-bottom: solid 1px #275da1;
    padding-bottom: 40px;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0.2em;
    width: 540px;
}

header h2 {
    color: #9ddcff;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.3;
    width: 540px;
}

header a:link,
header a:hover,
header a:visited {
    color: white;
}

header a:hover {
    text-decoration: none;
    text-shadow: none;
}

.inner {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.content-wrapper {
    border-top: solid 1px white;
    padding: 30px 0 20px 0;
}

section {
    float: left;
    width: 690px;
}

aside {
    background: transparent url("../img/sidebar-bg.jpg") 0 0 no-repeat;
    float: right;
    font-size: 12px;
    line-height: 1.3;
    min-height: 504px;
    padding-left: 20px;
    width: 220px;
}

.repo-owner,
.repo-owner a {
    font-weight: bold;
}

a.button {
    color: white;
    font-size: 24px;
    line-height: 1.2;
    padding-left: 68px;
    padding-top: 22px;
    width: 202px;
    height: 80px;
}

.button small {
    display: block;
    font-size: 11px;
}

.button:hover {
    text-decoration: none;
    text-shadow: none;
}

.sprite {
    background: transparent url("../img/sprite.png") no-repeat;
}

aside a.button {
    background-position: 0 0;
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 64px;
    width: 202px;
    height: 80px;
}

header a.button {
    background-position: 0 -88px;
    position: absolute;
    right: 0;
    top: 0;
}

code,
pre {
    color: #222;
    font: 13px Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    margin-bottom: 30px;
}

code {
    background-color: #f2f8fc;
    border: solid 1px #dbe7f3;
    padding: 0 3px;
}

/*pre {
    background: white;
    border: solid 1px #f2f2f2;
    overflow: auto;
    padding: 20px;
    text-shadow: none;
}

pre code {
    background-color: white;
    border: none;
    color: #2879d0;
    padding: 0;
}*/

ul,
ol,
dl {
    margin-bottom: 20px;
    padding-left: 10px;
}


/* COMMON STYLES */
/*table {
    border: 1px solid #ebebeb;
    width: 100%;
}

th {
    font-weight: 500;
}

td {
    border: 1px solid #ebebeb;
    font-weight: 300;
    text-align: center;
}

form {
    background: #f2f2f2;
    padding: 20px;

}*/

/* GENERAL ELEMENT TYPE STYLES */
section h2 {
    color: #474747;
    font-size: 2.0em;
}

section h2:before {
    color: #9ddcff;
    content: "/";
    padding-right: 0.2em;
}

/*section h2 {
    color: #474747;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

section h2:before {
    color: #9ddcff;
    content: "//";
    margin-left: -1.5em;
    padding-right: 0.3em;
}

section h3 {
    color: #474747;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 24px;
}

section h3:before {
    color: #9ddcff;
    content: "///";
    margin-left: -2em;
    padding-right: 0.3em;
}

section h4 {
    color: #474747;
    font-size: 15px;
    font-weight: bold;
}

h4:before {
    color: #9ddcff;
    content: "////";
    margin-left: -2.8em;
    padding-right: 0.3em;
}

section h5 {
    color: #474747;
    font-size: 14px;
}

h5:before {
    color: #9ddcff;
    content: "/////";
    margin-left: -3.2em;
    padding-right: 0.3em;
}

section h6 {
    color: #474747;
    font-size: .8em;
}
h6:before {
    color: #9ddcff;
    content: "//////";
    margin-left: -3.7em;
    padding-right: 0.3em;
}*/

p {
    margin-bottom: 20px;
}


/*blockquote {
    border-left: 10px solid #e9e9e9;
    font-size: 1.6em;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
}*/

ul li {
    list-style: disc inside;
    padding-left: 10px;
}

/*ol li {
    list-style: decimal inside;
    padding-left: 3px;
}

dl dd {
    font-style: italic;
    font-weight: 100;
}*/

/* MISC */
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}

.version {
    border: 2px solid #ebebeb;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    padding: 0 4px;
}

.version span {
    color: DodgerBlue;
    font-size: 1.3em;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
/*@media only screen and (max-width: 959px) {}*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .inner {
        width: 740px;
    }

    header h1,
    header h2 {
        width: 340px;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 30px;
    }

    section {
        width: 490px;
    }

    section h1:before,
    section h2:before/*,
    section h3:before,
    section h4:before,
    section h5:before,
    section h6:before*/ {
        content: none;
        margin-left: 0;
        padding-right: 0;
    }
}

/* All Mobile Sizes (devices and browser) */
@media (max-width: 767px) {
    .inner {
        width: 93%;
    }

    header {
        padding: 20px 0;
    }

    header .inner {
        position: relative;
    }

    header h1,
    header h2 {
        width: 100%;
    }

    header h1 {
        font-size: 48px;
    }

    header h2 {
        font-size: 24px;
    }

    header a.button {
        background-color: #9ddcff;
        background-image: none;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        border: 2px solid #7eb0cc;
        color: #2879d0;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        margin-top: 15px;
        padding: 5px 10px;
        position: relative;
        text-align: center;
        width: auto;
        height: auto;
    }

    .button small {
        display: inline;
        font-size: 13px;
    }

    section,
    aside {
        float: none;
        width: 100%;
    }

    aside {
        background-image: none;
        border-top: solid 1px #ddd;
        margin-top: 20px;
        min-height: 0;
        padding: 20px 0;
    }

    section h1:before,
    section h2:before/*,
    section h3:before,
    section h4:before,
    section h5:before,
    section h6:before*/ {
        content: none;
        margin-left: 0;
        padding-right: 0;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {}*/

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*@media only screen and (max-width: 479px) {}*/


/* print styles */
@media print {
    body {
        color: black;
        font: 13px/1.5 "Helvetica Neue", Helvetica, Arial, serif;
    }

    a {
        color: #d5000d;
        font-weight: bold;
    }

    header {
        padding-bottom: 10px;
        padding-top: 35px;
    }

    header h1 {
        color: #303030;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1.2;
    }

    header h2 {
        color: #aaa;
        font-size: 24px;
        font-weight: normal;
        letter-spacing: -1px;
        line-height: 1.3;
    }

    /*#downloads {
        display: none;
    }*/

    section {
        padding-top: 20px;
    }

    em {
      font-style: italic;
    }

    code,
    pre {
        color: #222;
        font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
        font-size: 12px;
        margin-bottom: 30px;
    }

    code {
        padding: 0 3px;
    }

    /*pre {
        border: solid 1px #ddd;
        padding: 20px;
        overflow: auto;
    }

    pre code {
        padding: 0;
    }*/

    ul,
    ol,
    dl {
        margin-bottom: 20px;
    }

    /* COMMON STYLES */
    /*table {
        border: 1px solid #ebebeb;
    }

    th {
        font-weight: 500;
    }

    td {
        border: 1px solid #ebebeb;
        font-weight: 300;
        text-align: center;
    }

    form {
        background: #f2f2f2;
        padding: 20px;

    }*/

    /* GENERAL ELEMENT TYPE STYLES */
    h1 {
        font-size: 2.8em;
    }

    h2 {
        font-size: 22px;
        font-weight: bold;
        color: #303030;
        margin-bottom: 8px;
    }

    /*h3 {
        color: #d5000d;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    h4 {
        color: #303030;
        font-size: 16px;
        font-weight: bold;
    }

    h5 {
        color: #303030;
        font-size: 1em;
    }

    h6 {
        color: #303030;
        font-size: .8em;
    }*/

    p {
        font-weight: 300;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
    }

    /*blockquote {
        border-left: 10px solid #e9e9e9;
        font-size: 1.6em;
        margin-bottom: 20px;
        padding: 0 0 0 30px;
    }*/

    ul li {
        list-style: disc inside;
        padding-left: 10px;
    }

    /*ol li {
        list-style: decimal inside;
        padding-left: 3px;
    }

    dl dd {
        font-style: italic;
        font-weight: 100;
    }

    footer {
        color: #aaa;
        font-size: 13px;
        margin-top: 40px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    footer a {
        color: #666;
    }
    */
}
