*.aps
*.opensdf
*.pyc
*.sdf
*.suo
*.user
/bin
/build.user.bat
/build/*.db
/build/.vs
/build/cov-int
/build/Notepad2-mod.lzma
/build/Notepad2-mod.tar
/build/Notepad2-mod.tgz
/build/packages
/build/temp_zip*
/distrib/Notepad2-mod.*.exe
/res/Notepad2.exe.manifest
/signinfo.txt
/src/VersionRev.h
